{% extends "base.html" %} {% block title %}Movie Clips Gallery {% endblock %}

{% block content%}<br/>

<div style="text-align: center;">
    <img src="../static/images/Slogan_2_Black.png" style = "max-width: 100%" alt="Slogan_black">
</div>
<br/>
<div style="text-align: center;">
    <video src = '../static/mov/khan_FW_final.mp4' poster='../static/mov/thumbnail.png' controls autoplay muted playsinline loop></video>
   <!-- 
    <video src = '../static/mov/khan_FW_final.mp4' poster='../static/mov/thumbnail.png' controls autoplay muted playsinline loop></video> 
   -->
</div>

<br/>
<br/>
{% endblock %}